In [1]:
import pandas as pd

In [2]:
amazon= pd.read_csv('/Users/t-2024-m0196/my-repo/Git/Git/실전프로젝트/AmazonFoodCategory Dataset.csv')
amazon.head()

,Custkey,DateKey,Discount Amount,Invoice Date,Invoice Number,Item Class,Item Number,Item,Line Number,List Price,Order Number,Promised Delivery Date,Sales Amount,Sales Amount Based on List Price,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep,U/M
0,10016609,12/31/2019,398.73,2019/12/31,329568,P01,15640,Super Vegetable Oil,1000,163.47,122380,12/31/2019,418.62,817.35,102.99,315.63,83.72400,5,176,EA
1,10016609,12/31/2019,268.67,2019/12/31,329569,P01,31681,Golden Fajita French Fries,7000,275.37,123966,12/31/2019,282.07,550.74,117.45,164.62,141.03500,2,176,EA
2,10016609,12/31/2019,398.73,2019/12/31,329569,P01,15640,Super Vegetable Oil,4000,163.47,123966,12/31/2019,418.62,817.35,102.99,315.63,83.72400,5,176,EA
3,10016609,12/31/2019,466.45,2019/12/31,329569,P01,13447,High Top Oranges,3000,119.52,123966,12/31/2019,489.71,956.16,213.29,276.42,61.21375,8,176,EA
4,10016609,12/31/2019,515.51,2019/12/31,329569,P01,36942,Tell Tale New Potatos,9000,264.18,123966,12/31/2019,541.21,1056.72,290.56,250.65,135.30250,4,176,EA